$color-background: #0f0f10;
$color-surface: #1b1b1d; //lighten(#0f0f10, 5%);
$color-border: #343437;//lighten(#1b1b1d, 10%);

$color-blue: #2cadf6;
$color-red: #f62c32;
$color-green: #2cf656;
$color-yellow: #f6e72c;
$color-orange: #f67a2c;

$color-blue-dark: #2586c2;
$color-red-dark: #c22527;
$color-green-dark: #25c242;
$color-yellow-dark: #c2b725;
$color-orange-dark: #c26425;

$text-normal: #e7e7e7;
$text-muted: #959595; //darken(#e7e7e7, 32%);
$text-disabled: #585858;
$text-invert: #18181a;

$highlight-container-background: #222223;
$highlight-container-surface: #2c2e31;

/*
 * Simple Syntax Highlighter
 */
// Inline Code
$inlineCodeBackground: lighten(#222223, 5%);
$inlineCodeColor: #e7e7e7;

// Code Blocks
$blockBackground: #222223;
$baseColor: #e7e7e7;

// Line Highlights
$highlightBackground: #363638;
$highlightAccent: #f7d87c;

// Tokens
$commentColor: #666666;
$keywordColor: #d8a9ff;
$punctuationColor: #a8a8a8;
$propertyColor: #ffbfa9;
$selectorColor: #25c242;
$operatorColor: #a9ffe4;
$variableColor: #ffbfa9;
$functionColor: #dd4a68;
$operatorBg: rgba(0, 0, 0, 0);

:root {
    --color-background: #{$color-background};
    --color-surface: #{$color-surface};
    --color-border: #{$color-border};

    --color-blue: #{$color-blue};
    --color-red: #{$color-red};
    --color-green: #{$color-green};
    --color-yellow: #{$color-yellow};
    --color-orange: #{$color-orange};
    --color-blue-dark: #{$color-blue-dark};
    --color-red-dark: #{$color-red-dark};
    --color-green-dark: #{$color-green-dark};
    --color-yellow-dark: #{$color-yellow-dark};
    --color-orange-dark: #{$color-orange-dark};

    --text-normal: #{$text-normal};
    --text-muted: #{$text-muted};
    --text-disabled: #{$text-disabled};
    --text-invert: #{$text-invert};

    /* Simple Syntax Highlighter */
    --sish-inline-code-background: #{$inlineCodeBackground};
    --sish-inline-code-color: #{$inlineCodeColor};
    --sish-block-background: #{$blockBackground};
    --sish-base-color: #{$baseColor};
    --sish-block-surface: #2c2e31;
}