<div class="content-wrapper">
    <article class="post-container card">
        <div class="post-head">
            <span class="post-head-published">Published 2023/05/08 @ 15:37 CEST</span>
            <span class="post-head-title"><%= post.title %></span>
        </div>
        <div class="post-content"><%= post.content %></div>
    </article>

    <%- include('footer.ejs') %>
</div>