$color-background: #0f0f10;
$color-surface: #1b1b1d; //lighten(#0f0f10, 5%);

$color-blue: #2cadf6;
$color-red: #f62c32;
$color-green: #2cf656;
$color-yellow: #f6e72c;
$color-orange: #f67a2c;

$color-blue-dark: #2586c2;
$color-red-dark: #c22527;
$color-green-dark: #25c242;
$color-yellow-dark: #c2b725;
$color-orange-dark: #c26425;

$text-normal: #e7e7e7;
$text-muted: #b5b5b5;
$text-disabled: #9c9c9c;
$text-invert: #18181a;

$highlight-container-background: #222223;
$highlight-container-surface: #2c2e31;

:root {
    font-size: 16px;
    font-family: OpenSans;

    --color-background: #{$color-background};
    --color-surface: #{$color-surface};

    --color-blue: #{$color-blue};
    --color-red: #{$color-red};
    --color-green: #{$color-green};
    --color-yellow: #{$color-yellow};
    --color-orange: #{$color-orange};
    --color-blue-dark: #{$color-blue-dark};
    --color-red-dark: #{$color-red-dark};
    --color-green-dark: #{$color-green-dark};
    --color-yellow-dark: #{$color-yellow-dark};
    --color-orange-dark: #{$color-orange-dark};

    --text-normal: #{$text-normal};
    --text-muted: #{$text-muted};
    --text-disabled: #{$text-disabled};
    --text-invert: #{$text-invert};

    --highlight-container-background: #{$highlight-container-background};
    --highlight-container-surface: #{$highlight-container-surface};
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 576px) {
    .content-wrapper {
        margin: 0 0 !important;
    }
}

.content-wrapper {
    display: block;
    max-width: 800px;
    margin: 32px auto;
    color: var(--text-normal);

    .card {
        margin-top: 16px;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.post {
    &-head {
        display: flex;
        flex-direction: column;
        font-family: OpenSans;

        &-title {
            font-size: 32px;
            font-weight: bold;
        }

        &-published {
            font-size: 13px;
        }
    }

    &-content {
        font-size: 16px;
        font-family: OpenSans;

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.25em;
        }

        h3 {
            font-size: 1em;
        }

        h1,
        h2,
        h3 {
            font-weight: bold;
            margin: 24px 0 16px 0;
        }

        p {
            margin-bottom: 16px;
        }

        mark {
            color: var(--text-invert);
            position: relative;
            background: rgba(249, 200, 28, 0.8);
            border-radius: 4px;
            padding: 0 2px;
            padding: 0 6px;
            font-weight: 400;
        }

        img {
            margin-bottom: 16px;
            max-width: 100%;
            object-fit: contain;
            border-radius: 6px;
        }

        ul {
            padding-left: 16px;
            margin-bottom: 16px;
        }

        .highlight {
            margin-bottom: 16px;
            background: var(--highlight-container-background);
            border-radius: 6px;
            overflow: hidden;
            font-size: 16px;

            &-info {
                font-size: 14px;
                padding: 8px 16px;
                background: var(--highlight-container-surface);
                display: flex;
                justify-content: space-between;
            }

            pre {
                padding: 16px;
                font-size: 85%;
                font-family: CascadiaCode;
                overflow-x: auto;
                line-height: 1.45;
            }
        }
    }

    &-container {
        padding: 16px 32px;
    }
}

.footer {
    padding: 16px;
    font-size: 0.9em;
}

.card {
    background: var(--color-surface);
    border-radius: 6px;
}

a {
    &:link {
        text-decoration: none;
        color: var(--color-blue);

        &:hover {
            text-decoration: underline;
        }
    }

    &:visited {
        color: var(--color-blue) !important;
    }
}
