/*
 * FONT: OpenSans
 */

 @font-face {
    font-family: OpenSans;
    src: url(/fonts/open_sans/static/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(/fonts/open_sans/static/OpenSans-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}


/* Medium */
@font-face {
    font-family: OpenSans;
    src: url(/fonts/open_sans/static/OpenSans-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(/fonts/open_sans/static/OpenSans-MediumItalic.ttf);
    font-weight: 400;
    font-style: italic;
}


/* Bold */
@font-face {
    font-family: OpenSans;
    src: url(/fonts/open_sans/static/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(/fonts/open_sans/static/OpenSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}



/*
 * FONT: CascadiaCode
 */

 @font-face {
    font-family: CascadiaCode;
    src: url(/fonts/cascadia_code/static/CascadiaCode-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CascadiaCode;
    src: url(/fonts/cascadia_code/static/CascadiaCode-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}


/* Medium */
@font-face {
    font-family: CascadiaCode;
    src: url(/fonts/cascadia_code/static/CascadiaCode-SemiBold.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: CascadiaCode;
    src: url(/fonts/cascadia_code/static/CascadiaCode-SemiBoldItalic.ttf);
    font-weight: 400;
    font-style: italic;
}


/* Bold */
@font-face {
    font-family: CascadiaCode;
    src: url(/fonts/cascadia_code/static/CascadiaCode-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: CascadiaCode;
    src: url(/fonts/cascadia_code/static/CascadiaCode-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}