$color-primary: #0f0f10;
$color-secondary: #222223;
$color-tertiary: #353536;
$color-accent: #6966ba;
$color-accent-bg: #3f3e4a;
$color-border-secondary: $color-tertiary;
$color-border-primary: $color-secondary;

$color-red: #ff3636;
$color-red-dark: #7e1e1e;
$color-green: #00ff99;
$color-green-dark: #006633;
$color-blue-light: #33a1ff;
$color-blue-light-dark: #174e82;
$color-purple-light: #d68eff;
$color-purple-light-dark: #7b47b5;
$color-pink: #ff8ae5;
$color-pink-dark: #ff4fad;
$color-yellow: #ffff66;
$color-yellow-dark: #ffcc00;
$color-orange: #ffb366;
$color-orange-dark: #ff751a;
$color-blue: #0066cc;
$color-blue-dark: #003c79;
$color-purple: #a358ff;
$color-purple-dark: #5e35b1;
$color-turquoise: #00e6c4;
$color-turquoise-dark: #006c5b;
$color-cyan: #00ffff;
$color-cyan-dark: #007f7f;
$color-mint: #98ffb0;
$color-mint-dark: #56b36d;
$color-black: #000003;
$color-white: #f1f1f3;

$text-normal: #e7e7e7;
$text-muted: #959595;
$text-disabled: #585858;